<!DOCTYPE HTML>
<html>
  <head>
    <META HTTP-EQUIV="CONTENT-TYPE" CONTENT="text/html; charset=utf-8">
    <title>{{ title }}</title>
    <link href="http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:200" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet" type="text/css">
    <link href="{{ style }}.css" rel="stylesheet" type="text/css" />
    <meta name="viewport" content="width=320,user-scalable=false" />
{% if head %}
{{ head|safe }}
{% endif %}
  </head>

  <body>
  {% block content %}
      {% if body %}
          {{ body|safe }}
      {% endif %}
  {% endblock %}
  </body>
  {% if javascript %}
  {% for file in javascript %}<script src="static/script/{{ file }}"></script> {% endfor %}
  {% endif %}
</html>
