{% extends "basic.html" %}

{% block content %}
  <h1><a href="/" class="title-heading">{{ main_title }}</a></h1>

  <article>
  <h1> {{ thread_title }} <span class="content-type">({{ content }})</span></h1>
  {% for post in posts %}
    <div class="post level{{ post['level'] }}">
      <span class="author">  {% if threaded %}({{ post['level'] }}) {% endif %}{{ post['author'] }} :: <a href="/f">{{ post ['date'] }}</a> :: <a href="/f/main">(reply)</a> :: <a href="/">(rate)</a></span>
      <div class="levelbox lbox{{ post['level'] }}"></div>
      {{  post["content"]|safe  }}
      <div class="tags">&nbsp;{% for tag in post['tags'] %}{{tag|safe}}&nbsp;{% endfor %}</div>
    </div>
  {% endfor %}
  </article>

    <nav>
      {% for navbox in sidebar %}
      <a href={{ navbox.link }}>
        <div class="navbox">
          <h1> {{ navbox.title }} </h1>
          {{ navbox.content }}
        </div>
      </a>
      {% endfor %}
    </nav>

{% endblock %}
