html { overflow-y: scroll; }

@media all and (min-width:1060px) {
    body {
        position:absolute;
        left:50px;
    }

    article {
        width: 717px;
    }

    nav {
        position:absolute;
        left:755px;
        top: 60px;
        width: 200px;
    }

    .navbox {
        width: 200px;
    }
}

@media all and (max-width:1059px) {
    nav {
        width: 100%;
    }

    .navbox {
        max-width: 1059px;
    }

    article { max-width: 1059px; }
}

body { font-family: "Open Sans", sans-serif;
       color: {{ theme.text.plain }};
       background-color: {{ theme.background.plain }};
       font-size: 11pt;
       margin: 0px;
       margin-top: 5px;
     }

h1 { font-size:20pt;
     font-family: "Yanone Kaffeesatz", sans-serif;
     font-weight: normal;
     margin: 0px;
     padding-bottom: 5px;
   }

h2 { font-size:16pt;
     font-family: "Yanone Kaffeesatz", sans-serif;
     font-weight: normal;
     padding-bottom: 5px;
     margin: 0px;
   }

p { margin: 0px;
    padding-top: 3px;
    padding-bottom: 4px;
  }

article { background-color: {{ theme.background.article }};
          padding: 10px;
          padding-top: 5px;
          border-radius: 15px 15px 1px 1px;
          margin-left: 5px;
          margin-right: 5px;
          margin-bottom: 10px;
          padding-bottom: 3px;
        }

.post { margin: 0px;
        margin-bottom: 7px;
        padding-left: 8px;
        padding-right: 8px;
        border-bottom: 1px solid #888888;
        border-right: 7px solid {{ theme.post.level5 }};
      }

.level0 { border-left: 7px solid {{ theme.post.level0 }}; }

.level1 { border-left: 7px solid {{ theme.post.level1 }};
          background: {{ theme.background.post_1 }};
        }

.level2 { border-left: 7px solid {{ theme.post.level2 }};
          background: {{ theme.background.post_2 }};
        }

.level3 { border-left: 7px solid {{ theme.post.level3 }};
          background: {{ theme.background.post_1 }};
        }

.level4 { border-left: 7px solid {{ theme.post.level4 }};
          background: {{ theme.background.post_2 }};
        }

.level5 { border-left: 7px solid {{ theme.post.level5 }};
          background: {{ theme.background.post_1 }};
        }

.levelbox { height: 2px; }

.lbox0 { background-color: {{ theme.post.level0 }};
         width: 0px;
       }

.lbox1 { background-color: {{ theme.post.level1 }};
         width: 20px;
       }

.lbox2 { background-color: {{ theme.post.level2 }};
         width: 40px;
       }

.lbox3 { background-color: {{ theme.post.level3 }};
         width: 60px;
       }

.lbox4 { background-color: {{ theme.post.level4 }};
         width: 80px;
       }

.lbox5 { background-color: {{ theme.post.level5 }};
         width: 100px;
       }

nav { padding: 0px;
      align: bottom;
    }

a:link { text-decoration: none;
         color: {{ theme.text.link }};
       }

a:visited { text-decoration: none;
            color: {{ theme.text.link }};
          }

a:hover { text-decoration: none;
          color: {{ theme.text.hover }};
        }

.navbox {
          margin: 0px;
          padding-top: 5px;
          padding-left: 10px;
          padding-right: 10px;
          margin-bottom: 10px;
          margin-top: 5px;
          padding-bottom: 10px;
          background-color: {{ theme.background.box1 }};
          font-size: 10pt;
          font-weight: normal;
          text-align: justify;
          color: {{ theme.text.nav }};
        }

.title-heading { font-size: 28pt;
                 margin-left: 5px;
               }

.title-heading:link { color: {{ theme.text.heading }};
                      font-weight: normal;
                    }

.title-heading:visited { color: {{ theme.text.heading }}; }

.title-heading:hover { color: {{ theme.text.head_hover }}; }

.navbox:link { color: {{ theme.text.nav }}; }

.navbox:visited { color: {{ theme.text.nav }}; }

.navbox:hover { color: {{ theme.text.nav_hover }}; }

.author { font-size: 8pt; }

.tags { font-size: 9pt;
        padding-bottom: 5px;
      }

.tag-content { border-radius: 5px 5px 5px 5px; }

.post-link { padding-bottom: 0px; }