body { font-family: "Open Sans", sans-serif;
       color: {{ text.plain }};
       background-color: {{ background.plain }};
       font-size: 11pt;
       margin-top: 10px;
       margin-bottom: 10px;
       margin-left: auto;
       margin-right: auto;
       width: 955px;
     }

h1 { font-size:20pt;
     font-family: "Yanone Kaffeesatz", sans-serif;
     font-weight: normal;
     margin: 0px;
     padding-bottom: 5px;
   }

h2 { font-size:15pt;
     font-family: "Yanone Kaffeesatz", sans-serif;
     font-weight: normal;
     padding-bottom: 5px;
     margin: 0px;
   }

p { margin: 0px;
    padding-bottom: 10px;
  }

article { background-color: {{ background.post }};
          padding: 5px;
        }

nav { float: right;
      width: 200px;
      margin-left: 15px;
      padding: 5px;
    }

.tile-field { -moz-column-count: 6;
              -webkit-column-count: 6;
              column-count: 6;
              padding: 10px;
              height: 95px;
            }

.navbox { width: 180px;
          margin: 0px;
          padding-top: 5px;
          padding-left: 10px;
          padding-right: 10px;
          margin-bottom: 10px;
          margin-top: 5px;
          padding-bottom: 10px;
          background-color: {{ background.box1 }};
          font-size: 10pt;
          font-weight: normal;
          text-align: justify;
        }

.tile-navbox { font-family: "Yanone Kaffeesatz", sans-serif;
               width: 120px;
               height: 70px;
               margin: 5px;
               padding: 10px;
               background-color: {{ background.box1 }};
               font-size: 20pt;
               font-weight: normal;
               text-align: center;
             }

a:link { text-decoration: none;
         font-weight: bold;
         color: {{ text.plain }};
       }

a:visited { text-decoration: none;
            color: {{ text.plain }};
          }

a:hover { text-decoration: none;
          color: {{ text.hover }};
        }

.title-heading { font-size: 28pt;
               }

.title-heading:link { color: {{ text.heading }};
                      font-weight: normal;
                    }

.title-heading:visited { color: {{ text.heading }};
                       }

.title-heading:hover { color: {{ text.head_hover }};
                     }
